.sc1{
    background-image: url('/img2.jpg');
    width:1536px;
    height: 640px;

    padding-top: 200px;
    padding-left: 150px;
   
  
  
}

.ppt1{
    padding-top: 100px;
}


.sc2{
    margin-top: 300px;
}